.home.object

  h1, h2, h3, h4, h5, h6
    color #787878
    font-family $title_font

  p
    color #a2a2a2
    font-size 18px
    margin-bottom 40px

  iframe
    max-width 100%

  img
    max-width 100%
    &.full
      width 100%

  h1
    font-size 44px
    line-height 54px
    margin-bottom 10px

  .section
    border-bottom 1px solid #a2a2a2
    margin 0 auto
    margin-bottom 40px
    max-width 100%
    padding-bottom 40px
    text-align center
    width 900px
    &:last-child
      margin-bottom 0
    &.left
      text-align left

  .banner
    background-size cover
    color white
    margin-bottom 40px
    padding-top 40px
    position relative
    text-align center
    .logo
      margin-bottom 140px
      > img
        height 40px
    .banner-content
      height 240px
      left 50%
      margin-left -490px
      margin-top -120px
      max-width 100%
      position absolute
      top 50%
      width 980px
    .title
      font-size 60px
      line-height 80px
    .subtitle
      font-family $title_font
      font-size 36px
      line-height 60px
    .call-to-action
      background $color
      border-radius 4px
      box-sizing border-box
      color bw($color)
      cursor pointer
      display inline-block
      font-size 20px
      font-weight 400
      line-height 60px
      margin 10px
      min-width 10em
      padding 0 30px
      text-align center
      text-decoration none
      white-space nowrap

  .feature
    box-sizing border-box
    display inline-block
    padding 20px
    text-align center
    vertical-align top
    width 50%
    > i
      color $color
      display block
      font-size 40px
      margin-bottom 10px
    > h3
      margin-bottom 10px

  .example
    background-size cover
    border-radius 20px
    color white
    cursor pointer
    display inline-block
    font-size 24px
    height 200px
    line-height 200px
    margin 20px
    overflow hidden
    position relative
    text-align center
    width 300px
    &:before
      $url = 'http://maestro.io/media/55c3aa40a82855f27a3973a8/overlay.png'
      background-image url($url), url($url)
      background-repeat repeat
      content ''
      display block
      height 100%
      left 0
      opacity .6
      position absolute
      top 0
      width 100%
    .title
      border solid 3px rgba(255, 255, 255, 0.5)
      border-radius 0.35em
      color #fff
      display inline-block
      font-size 0.8em
      font-weight 400
      line-height 2.25em
      padding 0 1.5em
      position relative
      top 50%
      white-space nowrap

  .case-study
    display none

  .channel
    box-sizing border-box
    display inline-block
    padding 20px
    text-align left
    vertical-align top
    width 33.3333%
    .name
      color #787878
      font-size 18px
      margin-bottom 10px
    .description
      color #a2a2a2
    .link
      display block
    .image
      cursor pointer
      margin-bottom 20px
      position relative
      > img
        display block
      &:before
        $url = 'http://maestro.io/media/55c3aa40a82855f27a3973a8/overlay.png'
        background-image url($url), url($url)
        background-repeat repeat
        content ''
        display block
        height 100%
        left 0
        opacity .3
        position absolute
        top 0
        width 100%
        z-index 1
      &:after
        border solid 3px rgba(255, 255, 255, 0.5)
        border-radius 0.35em
        color #fff
        content 'View'
        display inline-block
        font-size 1em
        font-weight 400
        left 50%
        line-height 2.25em
        margin -1.25em 0 0 -3em
        opacity 0
        padding 0 1.5em
        position absolute
        text-align center
        text-decoration none
        top 50%
        white-space nowrap
        z-index 2

  .webinar
    .add-to-calendar
      background $color
      color bw($color)
      cursor pointer
      display inline-block
      line-height 40px
      padding 0 15px
      > i
        margin-right 5px
    .subtitle
      margin 0 auto 20px
      max-width 90%
      width 520px
    .time
      margin-bottom 20px

  .contact
    .form
      box-sizing border-box
      display inline-block
      padding-right 20px
      vertical-align top
      width 66%
      .name, .email
        box-sizing border-box
        display inline-block
        margin-bottom 10px
        padding 10px
        width 50%
        > input
          width 100%
      .message
        box-sizing border-box
        display inline-block
        padding 0 10px
        width 100%
        > textarea
          height 200px
          resize none
          width 100%
      .submit
        border solid 3px #efefef
        border-radius 8px
        box-sizing border-box
        color #787878
        cursor pointer
        display inline-block
        font-weight 400
        line-height 50px
        margin 10px
        min-width 10em
        padding 0 20px
        text-align center
        text-decoration none
        white-space nowrap
        &[data-status='success']
          background #39ca74
          color white
        &[data-status='error']
          background #f00038
          color white

    .info
      color #a7a7a7
      display inline-block
      font-size 16px
      padding-top 5px
      vertical-align top
      width 34%

      // .address, .phone, .email
      > div
        clear both
        margin-bottom 20px
        > i
          float left
          font-size 20px
          height 40px
          padding 3px 10px
      .address
        white-space pre-wrap
        > i
          height 80px

// hover states for desktop
html.desktop .home.object
  .example:before:hover
    opacity 1
  .channel .image:hover
    &:before, &:after
      opacity 1
  .contact .form .submit:hover
    background $color
    border solid 3px $color
    color bw($color)

@media (max-width: 980px)
  .home.object
    margin 0

    .section
      box-sizing border-box
      padding 20px

    .banner
      .banner-content
        margin-left -300px
        width 600px
      .title
        font-size 50px
        line-height 70px
      .subtitle
        font-size 24px
        line-height 50px
      .call-to-action
        font-size 20px
        line-height 50px

    .feature
      padding 0 20px
      width 100%

    .example
      background-size cover
      border-radius 20px
      color white
      cursor pointer
      display inline-block
      font-size 18px
      height 150px
      line-height 150px
      margin 4%
      overflow hidden
      position relative
      text-align center
      width 42%

@media (max-width: 800px)
  .home.object
    .channel
      width 50%
    .contact
      .form
        margin-bottom 40px
        width 100%
      .info
        width 100%

@media (max-width: 600px)
  .home.object
    .banner
      .logo
        margin-bottom 80px
      .banner-content
        left 0
        margin 0
        position relative
        right 0
        top 0
        width 100%
      .title
        font-size 30px
      .subtitle
        font-size 26px
        line-height 38px
        margin-bottom 40px

    .channel
      width 100%

    .example
      margin 10px 0
      max-width 100%
      width 300px

    .contact
      .form
        text-align center
        .name
          margin-bottom 0
          width 100%
        .email
          width 100%
        .submit
          margin 0 auto
          width 90%

.dobi-modal.case-study
  img
    height 150px

html .dobi-modal.add-to-calendar
  a.btn
    background $color
  .text
    padding 0
