
// reset
global-reset()

// load fonts
$font_base = s('/pkg/font/1/public/%s', unquote($title_font))
$font_eot = s('%s.eot', $font_base)
$font_woff = s('%s.woff', $font_base)
$font_ttf = s('%s.ttf', $font_base)
$font_svg = s('%s.svg', $font_base)
@font-face {
  font-family: $title_font;
  src: url($font_eot);
  src: local('☺'), url($font_woff) format('woff'), url($font_ttf) format('truetype'), url($font_svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

$font_base = s('/pkg/font/1/public/%s', unquote($subtitle_font))
$font_eot = s('%s.eot', $font_base)
$font_woff = s('%s.woff', $font_base)
$font_ttf = s('%s.ttf', $font_base)
$font_svg = s('%s.svg', $font_base)
@font-face {
  font-family: $subtitle_font;
  src: url($font_eot);
  src: local('☺'), url($font_woff) format('woff'), url($font_ttf) format('truetype'), url($font_svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

$font_base = s('/pkg/font/1/public/%s', unquote($body_font))
$font_eot = s('%s.eot', $font_base)
$font_woff = s('%s.woff', $font_base)
$font_ttf = s('%s.ttf', $font_base)
$font_svg = s('%s.svg', $font_base)
@font-face {
  font-family: $body_font;
  src: url($font_eot);
  src: local('☺'), url($font_woff) format('woff'), url($font_ttf) format('truetype'), url($font_svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

// core styles
html body
  background #fff
  font-family $body_font
  font-size 14px
  letter-spacing 0
  line-height 2em
  margin 0

h1, h2, h3, h4, h5, h6
  font-family $title_font
  font-weight 300
h1
  font-size 2em
  line-height 1.8em
h2
  font-size 1.8em
  line-height 1.6em
h3
  font-size 1.6em
  line-height 1.4em
h4
  font-size 1.4em
h5
  font-size 1.2em
h6
  font-size 1.0em

a
  color $color
  cursor pointer
  text-decoration none

i
  font-family $title_font

input, textarea
  appearance none
  background #f7f7f7
  border 0
  border-radius 4px
  box-sizing border-box
  color #a2a2a2
  display block
  font-size 14px
  font-weight 400
  height 37px
  line-height 14px
  margin 0
  max-width 100%
  padding 10px 15px
  text-decoration none
  &:focus
    outline 0

// dobi-modal
html .dobi-modal
  .dobi-modal-window
    background white
    box-shadow 0 0 15px rgba($color, .5)
    color black

.object > .header
  background-position center center
  color white
  height 300px
  margin-bottom 40px
  text-align center
  .title
    font-size 60px
    line-height 72px
    margin 0 auto 20px
    max-width 95%
    padding-top 70px
    text-shadow 0 1px 40px black
    width 1280px
  .subtitle
    font-size 18px
    margin 0 auto
    max-width 95%
    text-shadow 0 1px 8px black
    width 800px

#content
  min-height 800px

@media (max-width : 850px)
  #content
    margin-top 0
  .object > .header
    height 140px
    margin-bottom 0
    .title
      font-size 36px
      line-height 42px
      margin-bottom 10px
      padding-top 20px
    .subtitle
      font-size 14px
