.exports.page
  margin 100px auto
  max-width 100%
  width 800px

  .page-title
    font-size 50px
    line-height 50px
    margin-bottom 40px
    &:after
      background $color
      content ''
      display block
      height 2px
      width 40px

  .version
    margin-bottom 40px

  .header
    border-bottom 1px solid #ddd

  .title
    font-size 30px
    line-height 30px
    margin-right 10px

  .date
    color #999
    display inline-block

  .notes
    white-space pre
